.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: white;
  filter: brightness(0) invert(1);
}

.App-header {
  background-color:#A50B72;
  height: 220px;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
