.user-info {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 100;
    opacity: 1 !important;

}

.user-avatar {
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.user-email {
    margin: 5px 5px 0 0 !important;
}

.login-btn {
    cursor: pointer;
    color: purple;
    font-weight: bold;
    position: absolute !important;
    right: 10px;
    top: 10px;
}

.valign-wrapper {
    align-items: unset !important;
}

.valign-wrapper span {
    margin-top: 0px;
}

.search-bar {
    display: block !important;
    width: 100%;
    margin: 0 auto;
    background-color: white !important;
    min-width: 300px;
    border-radius: 1%;
}

.search-wrapper{
    display: flex;
    justify-content: center;

}

.playlist-view-container {
    height: auto;
    background: white;
    width: 400px;
    color: white;
    background-color: white;
    opacity: 1 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 10000 !important;
}

.playlist-view-song {
    color: black;
    line-height: 60px;
    display: block;
    font-size: 24px;
    text-align: center;
}

.playlist-view-song:hover {
    background: rgb(245, 237, 252);
}


.modal-container {
    display: flex;
}

.modal-img {
    width: 300px !important;
    height: 300px !important;
    padding: 5px;
    width: 100%;
}

.modal-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    background: none;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 10px;
    color: purple;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    width: 200px;
}

.modal-button span {
    margin-right: 10px;
}

.modal-button:hover {
    background: purple;
    color: white !important;
    cursor: pointer;
}

.modal-button:hover span{
    color: white !important;
}

.track {
    background-color: white;
    margin: 5px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    cursor: pointer;    
    transition: background-color 0.1s ease;
    transition: opacity 1s ease;
    position: relative;
    text-transform: capitalize;
}

.more-btn {
    padding: 12px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 0px;
    z-index: 999;
}

.more-btn:hover {
    background-color: rgb(240, 232, 247);
}

.track:hover {
    background-color: rgb(245, 237, 252);
}

.row .col{
    padding: 0px;
}

.tracks-container {
    margin-top: 150px;
    margin-bottom: 100px;
    transition: transform 0.3s ease;
}

.track-title {
    padding-left: 5px;
    max-width: 30px;
    width: 20px;
}

.z-depth-5{
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

input {
    text-align: center
}


.example-enter {
    opacity: 0.01;
    width: 0px;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    width: 100px;
    transition: 700ms;
  }
  
  .example-leave {
    opacity: 1;
    width: 100px;
  }
  
.example-leave.example-leave-active {
    opacity: 0.01;
    width: 0px;
    transition: 700ms;
  }

.login-avatar{
    width: 60px !important;
    height: 60px !important;
    cursor: pointer;
    margin-top: 20px;
}

.player-counter{
    flex: none !important;
    padding: 18px 10px 0px 10px;
}

.player-volume-icon{
    flex: none !important;
    margin: 5px 10px 0 0 !important;
}

.player-slider {

}

@media (max-width: 600px) {
  .search-wrapper {
    transform: scale(1) !important;
   }
}

.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  font-size: 20px !important;
  font-weight: 600;
}

.node:hover {
  background-color: rgb(245, 237, 252);
  cursor: pointer;
}

.info, .node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info {
    padding-left: 15px !important;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.info:hover {
    font-weight: bold;
    cursor: pointer;
}

.info:hover .song-delete-btn{
    display: inline;
}

.song-delete-btn {
    display: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.tree-view_arrow-empty {
  color: yellow;
}

.tree-view {
  overflow-y: hidden;
}

.tree-view_item:hover{
    background: rgb(245, 237, 252);
    cursor: pointer;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
  padding: 5px !important;
  transition: background 0.3s ease;
}

.tree-view_item:hover .playlist-delete-btn{
    display: inline-block;
}
/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow:after {
  content: '▾';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.add-playlist-btn {
    /* position: absolute !important; */
    /* px; */
    width: 100%;
}

.playlist-delete-btn {
    display: none;
    cursor: pointer;
    float: right;
    padding-top: 4px;
}

.playlist-title-bar {
    height: 60px;
    color: white;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-info button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.hoverable-container {
    height: 600px;
    width: 300px;
    background: white;
}