.user-info {
    position: absolute;
    top: 5px;
    right: 5px;
}

.user-avatar {
    margin: 10px;
    cursor: pointer;
}

.user-email {
    margin: 5px 5px 0 0 !important;
}

.search-bar {
    display: block !important;
    width: 100%;
    margin: 0 auto;
    background-color: white !important;
    min-width: 300px;
    border-radius: 1%;
}

.search-wrapper{
    display: flex;
    justify-content: center;

}

.track {
    background-color: white;
    margin: 5px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    cursor: pointer;    
    transition: background-color 0.1s ease;
    transition: opacity 1s ease;
}

.track:hover {
    background-color: rgb(245, 237, 252);
}

.row .col{
    padding: 0px;
}

.tracks-container{
    margin-top: 150px;
    margin-bottom: 100px;

}

.z-depth-5{
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

input {
    text-align: center
}


.example-enter {
    opacity: 0.01;
    width: 0px;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    width: 100px;
    transition: 700ms;
  }
  
  .example-leave {
    opacity: 1;
    width: 100px;
  }
  
.example-leave.example-leave-active {
    opacity: 0.01;
    width: 0px;
    transition: 700ms;
  }

.login-avatar{
    width: 60px !important;
    height: 60px !important;
    cursor: pointer;
    margin-top: 20px;
}

.player-counter{
    flex: none !important;
    padding: 18px 10px 0px 10px;
}

.player-volume-icon{
    flex: none !important;
    margin: 5px 10px 0 0 !important;
}

.player-slider {

}

@media (max-width: 600px) {
  .search-wrapper {
    transform: scale(1) !important;
   }
}